* {
  -webkit-print-color-adjust: exact;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #313131;
}

body {
  font-family: 'Karla', sans-serif;
  color: #FFDEAD;

  background-color: #313131;
  background-image: url('gitbackground7.png');
  background-repeat: repeat;
}

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 230px auto auto auto;
  max-width: 1000px;
  margin: auto;
}

.header, .searchbar, .container__table, .piechart, .barchart, .behaviour-container, .behaviour-table-container {
  /*background: #383838;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  grid-column: 1 / -1;
  padding-left: 15px;
  display: inline;
  float: left;
}

.logo {
  float: left;
}

.searchbar {
  grid-column: 1 / -1;
  display: block;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search {

}

.title-text {
  width: 80%;
  margin: auto;
}

#grid-1 {
  background-color: #2e2e2e;
}

#title-1, #title-2, #title-3 {
  grid-column: 1 / -1;
  text-align: center;
  margin: 0;
  visibility: hidden;
}

.title-1-text, .title-2-text, .title-3-text {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;

  background-color: #505050;
}

th {
  background-color: #2e2e2e;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.container__table {}

#pie-container {
  min-width: 280px;
  min-height: 280px;
}

.barchart {
  grid-column: 1 / -1;
  min-height: 300px;
}

#barchart {
  background-color: #313131;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.behaviour-container {
  display: inline;
  padding: 0px 10px;
  border-radius: 10px;
  align-self: center;

  max-height: 240px;
  background-color: #313131;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.behaviour-table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  margin: 10px 0;
}

.overall-container {
  /*background-color: #aaaaaa;*/
}

#pie-container {
  position: relative;
  height: 40%;
  width: 100% !important;
  max-width: 500px;
  /*min-width: 400px;*/
}

#piechart {
  width: 100% !important;
}

#bar-container {
  width: 80%;
}

#grid-2, #grid-3, #grid-4, #grid-5, #grid-6 {
  visibility: hidden;
}

.total-table {
  background-color: #505050;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 816px) {
  .container { grid-template-columns: repeat(1, 1fr) }
}

@media screen and (max-width: 480px) {
  .container { grid-template-columns: repeat(1, 1fr) }
}

@media print {
      body, html, #wrapper, {
          height: 200%;
          margin: 0;
          float: none;
          display: block;
      }

      .container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4em;
        margin: 0;
        height: 200%;
      }

      #grid-1 {
        display: none;
      }

      #barchart {
        max-width: 100%;
      }

      #title-1, #title-2, #title-3 {
        background-color: #313131;
        height: 50px;
        border: 1px solid white;
      }
}

#input-container {
    width: 100%;
    height: 80px;
    position: relative;

}

#generate-container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

#date-container {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;

  font-size: 18px;
  visibility: hidden;
  position: inline;
}

#print-container {
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
  visibility: hidden;
}

form.generate {
  max-width: 200px;
  margin: auto;
  display: inline;
}

form.generate input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  background: #d3d3d3;
  border-radius: 10px 0px 0px 10px;
  margin-right: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form.generate input {
  border-radius: 0px 10px 10px 0px;
}


form.generate button, #example-print {
  padding: 5px;
  background: #202020;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: none;
  border-radius: 0px 10px 10px 0px;
}

form.generate button:hover, #example-print {
  background: #FFDEAD;
  color: #313131;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form.generate::after {
  content: "";
  clear: both;
  display: table;
}

#example-print {
  padding: 10px;
  border-radius: 10px;
}

/* Dropdown selection */

#start-date, #timeframe {

	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 4px;
	width: 20%;
	max-width: 20%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
#start-date::-ms-expand, #timeframe::-ms-expand {
	display: none;
}
#start-date:hover, #timeframe::-ms-expand {
	border-color: #888;
}
#start-date:focus, #timeframe:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
#start-date option, #timeframe option {
	font-weight:normal;
}
